@page
@model IndexModel
@{
    ViewData["Title"] = "NORTH";
}

<body
    background="css/sport.png">
</body>
<div class="text-center" style="background:HighlightText" >
    <h1 class="display-1">SPORDIÜRITUSTELE REGISTREERIMINE</h1>
    <p>
        <h2 class="display-4"> REGISTREERI END SPORTLASEKS <a href="https://localhost:44375/Sportsman/Sportsmen/Create">SIIN</a> </h2>
</p>
</div>
