@page
@model IndexModel
@{
    ViewData["Title"] = "NORTH";
}

    <div class="text-center">
        <h1 class="display-4">Vaatasingi, et oled kosunud</h1>
        <h1 class="display-4">See leht on just sulle!!</h1>
        <p>Kui vale leht siis <a href ="https://www.netflix.com">lehte</a>.</p>
    </div>
