@page
@using North.Aids
@using North.Data.Event
@using North.Data.EventList
@using North.Pages.Extensions
@model North.Soft.Areas.Organization.Pages.Organizations.DetailsModel

@{
    Layout = "_Details";
    const string events = "/Event/Events";
    var organizationId = GetMember.Name<EventData>(x => x.OrganizationId);
}
<body>
    @Html.DisplayControlsFor(model => model.Item.Id)
    @Html.DisplayControlsFor(model => model.Item.Name)
    @Html.DisplayControlsFor(model => model.Item.Definition)
</body>

@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Vaata selle organisatsiooni üritusi!",
        $"{events}/Index?FixedFilter={organizationId}&FixedValue={Model.Item.Id}"))
}