@page
@using North.Aids
@using North.Data.Event
@using North.Data.SportsmanEvent
@using North.Pages.Extensions
@model North.Soft.Areas.Sportsman.Pages.Sportsmen.DetailsModel

@{
    Layout = "_Details";
    const string sportsmanEvent = "/SportsmanEvent/SportsmanEvents";
  
    const string events = "/Event/Events";
}
    <body>
        
        @Html.DisplayControlsFor(model => model.Item.Name)
        @Html.DisplayControlsFor(model => model.Item.DateOfBirth)

    </body>

@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Registreeri üritusele",
        $"{sportsmanEvent}/Create?FixedFilter=&FixedValue="))
    @Html.HypertextLinkFor(string.Empty, new Link("Näita üritusi",
        $"{events}"))
}