@page
@using North.Pages.Extensions
@model North.Soft.Areas.EventList.Pages.EventLists.CreateModel

@{
    Layout = "_Create";
}
    <body>
        @Html.EditControlsFor(model => model.Item.Id)
        @Html.EditControlsFor(model => model.Item.Name)
    @Html.EditControlsFor(model => model.Item.ValidFrom)
        <p style="color:#FF0000" ;>Pole kohustuslik</p>
        @Html.EditControlsFor(model => model.Item.ValidTo)
    <p style="color:#FF0000" ;>Pole kohustuslik</p>
        
    </body>