@page
@using North.Pages.Extensions
@model North.Soft.Areas.SportsmanEvent.Pages.SportsmanEvents.CreateModel

@{
    Layout = "_Create";
    const string sportsman = "/Sportsman/Sportsmen";
}
<body>

    @Html.EditControlsForDropDown(model => model.Item.SportsmanId, Model.Sportsmen)
    @Html.EditControlsForDropDown(model => model.Item.EventId, Model.Events)

</body>
<div>
    @Html.HypertextLinkFor(string.Empty, new Link("Registreeri end sportlaseks!",
        $"{sportsman}/Create"))
</div>
