@page
@using North.Aids
@using North.Data.SportsmanEvent
@using North.Pages.Extensions
@model North.Soft.Areas.SportsmanEvent.Pages.SportsmanEvents.DetailsModel

@{
    Layout = "_Details"; 

    const string events = "/Event/Events";
    var eventId = GetMember.Name<SportsmanEventData>(x => x.EventId);
    const string sportsmanEvent = "/SportsmanEvent/SportsmanEvents";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.SportsmanId)
    @Html.DisplayControlsFor(model => model.Item.EventId)
</body>
@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Näita üritust",
        $"{events}/Details?id={Model.Item.EventId}"))
    @Html.HypertextLinkFor(string.Empty, new Link("Näita üritusel osalejaid",
        $"{sportsmanEvent}/Index?FixedFilter={eventId}&FixedValue={Model.Item.EventId}"))
}