@page
@using North.Aids
@using North.Data.Event
@using North.Data.Sportsman
@using North.Pages.Extensions
@model North.Soft.Areas.SportsmanEvent.Pages.SportsmanEvents.DetailsModel

@{
    Layout = "_Details";

    const string eventLists = "/Event/Events";
    var eventId = GetMember.Name<EventData>(x => x.Name);

    const string sportsMen = "/Sportsman/Sportsmen";
    var sportsManId = GetMember.Name<SportsmanData>(x => x.Name);
}
<body>
    @Html.DisplayControlsFor(model => model.Item.SportsmanId)
    @Html.DisplayControlsFor(model => model.Item.EventId)
</body>
@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Näita üritusi",
        $"{eventLists}/Index?FixedFilter={eventId}&FixedValue={Model.Item.EventId}"))
}